<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="contextName" value="blog" />
    <property name="logDir" value="./logs" />
    <property name="cluster" value="test"/>
    <springProperty scope="context" name="appName" source="spring.application.name" />

    <conversionRule conversionWord="ip" converterClass="com.example.webfluxdemo.converter.IpConverter"/>
    <conversionRule conversionWord="timestamp" converterClass="com.example.webfluxdemo.converter.TimestampLogConverter" />

    <appender name="consoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyy MMM dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>{"serverAddr":"%ip","createdTime":"%d{yyyy-MM-dd HH:mm:ss}","class":"%c","createdOn":%timestamp,"appName":"ez-collector","cluster":"${cluster}","level":"%level","message":%msg,"stack_trace":"%exception{0}"} %n</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${logDir}/${contextName}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/${contextName}/info.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>{"serverAddr":"%ip","createdTime":"%d{yyyy-MM-dd HH:mm:ss}","class":"%c","createdOn":%timestamp,"appName":"ez-collector","cluster":"${cluster}","level":"%level","message":%msg,"stack_trace":"%exception{0}"} %n</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${logDir}/${contextName}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/${contextName}/error.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="Info">
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
    </root>

    <logger name="com.example.webfluxdemo" level="INFO" >
        <appender-ref ref="INFO"/>
    </logger>
</configuration>